.jumbotron {
	background-color: #e7eaf6;
}

.form{
    margin-left: 400px;
    
}

.col-welcome h2 {
    color: black;;
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 15px;
    font-family:Geometr415 Blk BT;
    margin-right: 500px;
   
  
    
}

.btn-outline-secondary{
    margin-top: 15px;
    border: black solid 1px;
    width: 100px;
    height: 30px;
    color: white;
    margin-left: 9px;
    margin-bottom: 1px;
    

}

.Gambar img{
  width: 450px;
  height: 250px;
  margin-bottom: 20px;
}

